<div id="partida">
    <div id="true">
        <table>
            <tbody>

            </tbody>
        </table>
    </div>
    <div id="modo">

    </div>
    <div id="false">
        <table>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<hr>
<div id="partida2">
    <div id="true">
        <table>
            <tbody>

            </tbody>
        </table>
    </div>
    <div id="modo">

    </div>
    <div id="false">
        <table>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<hr>
<div id="partida3">
    <div id="true">
        <table>
            <tbody>

            </tbody>
        </table>
    </div>
    <div id="modo">

    </div>
    <div id="false">
        <table>
            <tbody>

            </tbody>
        </table>
    </div>
</div>